---
import { getCollection, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

import createSlug from "../../lib/createSlug";

// Generate a new path for every collection entry
export async function getStaticPaths() {
    const projects = await getCollection("project");

    return projects.map((project) => {
        let slug = createSlug(project.data.title, project.data?.slug);
        return {
            params: { slug: slug },
            props: { project },
        };
    });
}

const { project } = Astro.props;

const { Content } = await render(project);
---

<MainLayout title={project.data.title} layout="HIDE_BOTH">
    <div class="flex w-full justify-center">
        <div
            class="prose dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline"
        >
            <h1 class="text-4xl">{project.data.title}</h1>
            <h5 class="text-md">
                {project.data.startDate} - {project.data.endDate}
            </h5>
            <ul
                class="not-prose flex space-x-4 *:rounded-md *:bg-black *:px-1 *:text-white"
            >
                {project.data.tags?.map((tag) => <li>{tag}</li>)}
            </ul>
            <ul
                class="not-prose flex space-x-4 *:rounded-md *:bg-black *:px-1 *:text-white"
            >
                {project.data.techStack?.map((tag) => <li>{tag}</li>)}
            </ul>
            <p class="text-[12px]">
                {project.data.description}.<br />Slug: {project.data.slug}
            </p>
            <Content />
        </div>
    </div>
</MainLayout>
