---
import "@/styles/global.css";

import { format } from "date-fns";

import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import createSlug from "@/lib/createSlug";

interface Props {
    project: CollectionEntry<"projects">;
    image: any;
    "data-type"?: string;
    "data-category"?: string;
}

const {
    project,
    image,
    "data-type": dataType,
    "data-category": dataCategory,
} = Astro.props;

const finalizedSlug = createSlug(project.data.title, project.data?.slug);
---

<div
    id={`project-${finalizedSlug}`}
    class="flex size-full max-w-[400px] flex-col justify-end bg-white shadow-lg hover:-translate-y-2 hover:bg-neutral-100 md:w-5/11"
    data-type={dataType}
    data-category={dataCategory}
>
    <article class="relative p-6">
        <div class="pb-2">
            <Image
                class="mx-auto border-[0.5px]"
                src={image()}
                alt=`Project ${project.data.title} Thumbnail`
                width={400}
                height={400}
            />
        </div>
        <div class="text-center">
            <h1 class="mt-1 text-xl/tight font-bold">
                {project.data.title}
            </h1>
            <h3 class="mt-1 text-xs">
                {format(project.data.startDate, "MMMM yyyy")} - {
                    format(project.data.endDate, "MMMM yyyy")
                }
            </h3>
            <h3 class="mb-2 text-xs">
                {project.data.category.toUpperCase()} · {
                    project.data.type.toUpperCase()
                }
            </h3>
            <p class="text-sm text-pretty">{project.data.description}</p>
        </div>
        {
            project.data.pinned === true && (
                <div class="bg-blue-accent pointer-events-none absolute -bottom-2 -left-2 rounded-md px-2 py-0.5 text-[0.65rem] font-medium tracking-wide text-white uppercase select-none">
                    pinned
                </div>
            )
        }
        <a
            href={`/projects/${finalizedSlug}`}
            class="absolute top-0 left-0 h-full w-full"></a>
    </article>
</div>
