---
import { getCollection, render } from "astro:content";
import { YouTube } from "astro-embed";
import { marked } from "marked";

import MainLayout from "@/layouts/MainLayout.astro";
import Tags from "@/components/Tags.astro";
import createSlug from "@/lib/createSlug";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

// Generate a new path for every collection entry
export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project) => {
        let slug = createSlug(project.data.title, project.data?.slug);
        return {
            params: { slug: slug },
            props: { project },
        };
    });
}

const { project } = Astro.props;

const { Content, headings } = await render(project);

const description = marked.parse(project.data.description);
---

<MainLayout title={project.data.title} headings={headings}>
    <div class="px-8 *:mx-auto">
        <div class="prose-custom-lg">
            <h1 class="text-4xl">
                {project.data.title}
            </h1>
            <h3 class="text-sm">
                {project.data.startDate} - {project.data.endDate}
            </h3>

            <div
                set:html={description}
                class="prose-custom-lg max-w-none text-sm"
            />
            <Tags content={project.data.tags} label="tags" />
            <Tags content={project.data.techStack} label="tech stack" />
            <div class="my-8 overflow-hidden rounded-xl">
                <YouTube
                    id={project.data.demoVideoLink}
                    posterQuality="max"
                    class="w-full !max-w-none"
                />
            </div>
        </div>

        <div class="prose-custom prose-code:not-prose">
            <hr />
            <Content />
            <hr />
        </div>
    </div>
</MainLayout>
