---
import { type CollectionEntry } from "astro:content";
import { format } from "date-fns";

import Tags from "@/components/Tags.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import ProjectBreakdown from "@/components/ProjectBreakdown";

import createSlug from "@/lib/createSlug";

interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/content/projects/*/assets/thumbnail.png",
);

const finalizedSlug = createSlug(project.data.title, project.data?.slug);
const thumbnailPath = `/src/content/projects/${finalizedSlug}/assets/thumbnail.png`;
---

<div class="m-1 p-4 *:mx-auto md:px-16 md:py-4">
    <div class="prose prose-lg">
        <h1 class="!my-0 text-4xl md:text-5xl">
            {project.data.title}
        </h1>
        <h3 class="!mt-2 !mb-4 text-sm">
            {format(project.data.startDate, "MMMM dd, yyyy")} -
            {format(project.data.endDate, "MMMM dd, yyyy")}
        </h3>
        <div class="prose-custom-lg max-w-none text-sm">
            {project.data.description}
        </div>
    </div>
    <div
        class="mt-4 mb-6 w-full bg-neutral-200 p-2 drop-shadow-lg drop-shadow-neutral-400 md:mt-6 md:mb-8 md:shadow-xl"
    >
        {
            project.data.demoVideoLink ? (
                <YouTube
                    id={project.data.demoVideoLink}
                    params="autoplay=1&color=white&rel=0"
                    posterQuality="high"
                    class="w-full !max-w-[868px] min-w-full"
                />
            ) : (
                <Image
                    class="w-full"
                    src={images[thumbnailPath]()}
                    alt={`Fallback Thumbnail ${project.data.title}`}
                    width={600}
                    height={600}
                />
            )
        }
    </div>
    <div class="prose prose-lg mb-4 md:mb-6">
        <Tags content={[project.data.category]} label="Category" />
        <Tags content={[project.data.type]} label="Type" />
        <Tags content={project.data.tags} label="tags" />
        <Tags content={project.data.techStack} label="tech stack" />
    </div>

    <ProjectBreakdown client:load>
        <slot />
    </ProjectBreakdown>
</div>
